<ion-view title="A propos">
	<ion-nav-buttons side="left">
		<button class="button-icon ion-arrow-left-c button back-button disable-user-behavior" ui-sref="tabs.profile"></button>
	</ion-nav-buttons>
	<ion-content padding="true" class="center">
		<h2>Made by Peaches, with love</h2>
		<h4>Proudly made by <span class="assertive">Jean-Baptiste Beuzelin</span>, <span class="energized">Jérôme Chaaban</span>, and <span class="balanced">Orion Charlier</span></h4>
		<img src="img/peach-logo.png" class="about-logo">
		<p>&copy; 2014 - Peaches</p>
	</ion-content>
</ion-view>