<ion-view title="Ajouter un voyage">
  <ion-content>
	  <form name="tripForm" ng-submit="addTrip()" novalidate>
			<div class="list">
			  <label class="item item-input">
			    <span class="input-label">Direction</span>
			    <input type="text" name="direction" ng-model="trip.direction" placeholder="Bourseul" required>
			    <p ng-show="tripForm.direction.$invalid && !tripForm.direction.$pristine">Une direction est requise</p>
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Nombre de places</span>
			    <span class="padding-right">{{trip.seats}}</span><input type="range" name="volume" min="1" max="5" value="4" ng-model="trip.seats">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Horaire</span>
			    <input type="datetime-local" ng-model="trip.time">
			  </label>
			</div>

			<div class="padding">
				<button class="button button-block button-positive" type="submit" ng-disabled="tripForm.$invalid">
			  	Ajouter mon trajet
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>