<ion-view title="Détail du trajet">
  <ion-content>
	  <div class="card">
		  <div class="item item-divider">
		    Départ pour {{trip.direction}}
		  </div>
		  <a class="item item-avatar" ui-sref="tabs.user({id: trip.user_id})">
		    <img ng-src="{{trip.picture}}">
		    <h2>Voiture de {{trip.username}}</h2>
		    <p>{{trip.seats}} places proposées</p>
		  </a>
		</div>

		<div class="card">
		  <div class="item item-divider">
		    Inscrits à cette voiture
		  </div>
		  <li class="item" ng-show="participants.length === 0">
		  	Personne n'a demandé à participer à ce voyage
		  </li>
		  <a class="item item-avatar" ng-repeat="participant in participants" ng-show="participants.length > 0" ui-sref="tabs.trip">
	      <img ng-src="{{participant.picture}}">
	      <h2>{{participant.username}} est inscrit</h2>
	      <span class="badge badge-balanced" ng-show="$index <= trip.seats"><i class="ion-checkmark-round"></i></span>
	      <span class="item-note" ng-show="$index > trip.seats">Sur liste d'attente</span>
	    </a>
		</div>

		<div class="padding" ng-show="trip.user_id != user_id">
			<button class="button button-block button-positive" ng-click="participate()">
		  	{{button_text}}
			</button>
		</div>
  </ion-content>
</ion-view>