<ion-view>
	<ion-nav-buttons side="left">
		<button class="button button-clear no-animation" ng-click="startApp()" ng-if="!slideIndex">
	  Passer l'intro
	  </button>
	  <button class="button button-clear no-animation" ng-click="previous()" ng-if="slideIndex > 0">
	    Précédent
	  </button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right"> 
	  <button class="button button-clear no-animation" ng-click="next()" ng-if="slideIndex != 4">
	    Suivant
	  </button>
	  <button class="button button-clear no-animation" ng-click="startApp()" ng-if="slideIndex == 4">
	    Commencer
	  </button>
	</ion-nav-buttons>
	<ion-content padding="true" class="full-height" scroll="false">
		<ion-slide-box on-slide-changed="slideChanged(index)">
		  <ion-slide>
		    <div class="box blue">
		    	<h1>BIENVENUE !</h1>
		    	<h3>L'application qui simplifie la vie aux Mines Douai</h3>
		    	<p>Grâce à drive me, vous pourrez organiser simplement vos co-voiturages pour vous rendre en cours, et prifitee de pleins d'autres fonctionnalités.</p>
		    	<i class="ion-checkmark intro-icon balanced"></i>
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box yellow">
		    	<h1>DES NEWS</h1>
		    	<h3>Pour toujours être au top</h3>
		    	<p>Accédez facilement à toutes les dernières news et infos en provenance du campus, directement sur votre mobile !</p>
		    	<i class="ion-images intro-icon energized"></i>
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box pink">
		    	<h1>DU COVOIT'</h1>
		    	<h3>Fini les galères pour allez à Lahuire</h3>
		    	<p>Vous avez une voiture ? Dites le et faites profiter les mineurs ! Vous en chercher une ? Regardez les dispos et réservez une place en 1 clic !</p>
		    	<i class="ion-model-s intro-icon royal"></i>
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box pink">
		    	<h1>DU PERSO</h1>
		    	<h3>Et toi en voiture, plutôt Johny ou Shakira ?</h3>
		    	<p>Personnalisez votre profil afin d'attirer des mineurs qui vous ressemblent, et faites de nouvelles rencontres</p>
		    	<i class="ion-person-stalker intro-icon calm"></i>
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box pink">
		    	<h1>PRET ?</h1>
		    	<h3>Alors c'est parti !</h3>
		    	<p>Maintenant c'est à vous... Enjoy :)</p>
		    	<i class="ion-beer intro-icon assertive"></i>
		    </div>
		  </ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>