<ion-view title="Log in" id="login">
  <ion-content scroll="false">
    <div class="divButton">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-person placeholder-icon"></i>
          <input type="text" placeholder="Username" ng-model="logger.login">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="Mot de passe" ng-model="logger.password" >
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="login()">
          Log In
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>