<ion-view title="Voyages">
  <ion-content>
    <div class="list">
		  <div class="item item-divider">
		    Voitures disponibles
		  </div>
		  <li class="item" ng-show="trips.length === 0">
		  	Aucune voiture disponible actuellement...
		  </li>
		  <a class="item item-avatar slide-in-left" ng-repeat="trip in trips | orderBy:'time'" ng-show="trips.length > 0" ui-sref="tabs.displayTrip({id: trip.id})">
	      <img src="{{trip.picture}}">
	      <h2><strong>{{trip.direction}}</strong> - {{trip.time | date: 'd MMM - h:mm'}}</h2>
	      <p>
	      	{{trip.username}} a {{trip.seats}} places 
	      	<span class="assertive" ng-show="id==trip.user_id"><i class="ion-alert-circled"></i> Je conduis</span>
	      	<span class="balanced" ng-show="doesParticipate(trip.participants, id)"><i class="ion-information-circled"></i> Je participe</span>
	      </p>
	    </a>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ui-sref="tabs.addTrip">
		  	Ajouter une disponibilité
			</button>
		</div>
  </ion-content>
</ion-view>