<ion-view title="Trip">
  <ion-content>
    <div class="list">
		  <div class="item item-divider">
		    Voitures disponibles
		  </div>
		  <li class="item" ng-show="trips.length === 0">
		  	Aucune voiture disponible actuellement...
		  </li>
		  <a class="item item-avatar" ng-repeat="trip in trips" ng-show="trips.length > 0">
	      <img src="http://lorempixel.com/100/100/people/">
	      <h2>Départ pour <strong>{{trip.direction}}</strong> - {{trip.time}}</h2>
	      <p>{{trip.username}} a {{trip.seats}} places</p>
	    </a>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ui-sref="tabs.addTrip">
		  	Ajouter une disponibilité
			</button>
		</div>
  </ion-content>
</ion-view>