.profile-picture {
	height: 50px;
}
#start, #login{
	background-image: url(../img/start-douai-background-proportion.png);
	background-size: 100% 100%;
}
#start .scroll .divButton, #login .scroll .divButton {
	position: absolute;
	width: 100%;
	bottom: 40%;
}
#start button {
	display: block;
	width: 80%;
	margin: 20px auto;
}
#login button, #login .list-inset{
	display: block;
	width: 80%;
	margin: 20px auto;
}
.slider {
  height: 80%;
}
.scroll {
	height: 100%;
}
.slider-slide {
  padding-top: 60px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.intro-icon {
	font-size: 100px;
}
.full-height {
	height: 100%;
}
.balanced {
	color: #66cc33;
}
.assertive {
	color: #ef4e3a;
}
.royal {
	color: #8a6de9;
}
.energized {
	color: #f0b840;
}
.calm {
	color: #43cee6;
}