.profile-picture {
	height: 50px;
}
#start, #login, #signUp{
	background-image: url(../img/start-douai-background-proportion.png);
	background-size: 100% 100%;
}
#start .scroll-content .divButton, #login .scroll-content .divButton {
	position: absolute;
	width: 100%;
	bottom: 40%;
}
#signUp .scroll-content .divButton {
	position: absolute;
	width: 100%;
	bottom: 30%;
}
#signUp .list-inset span{
	display: block;
}
#start button {
	display: block;
	width: 80%;
	margin: 20px auto;
}
#login button, #login .list-inset, #signUp button, #signUp .list-inset{
	display: block;
	width: 80%;
	margin: 20px auto;
}
.slider {
  height: 80%;
}
.scroll-content {
	height: 100%;
}
.slider-slide {
  padding-top: 60px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.intro-icon {
	font-size: 100px;
}
.full-height {
	height: 100%;
}
.balanced {
	color: #66cc33;
}
.assertive {
	color: #ef4e3a;
}
.royal {
	color: #8a6de9;
}
.energized {
	color: #f0b840;
}
.calm {
	color: #43cee6;
}
.center {
	text-align: center;
}
.about-logo {
	margin-top: 25px;
	margin-bottom: 25px;
	height: 150px;
}